@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf);
}


:root {
   
    --cor1:#c5ebd6;
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;
}

body {
    background-color: var(--cor2);
    margin: 0;
}

header {
    background-image: linear-gradient(to bottom, #2fa866, #063d1e );
    color: white;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
}


header > p {
    display: inline-block;
    align-items: center;
    margin-top: 5px;
    width: 350px;
}

nav {
    background-color: var(--cor6);
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    height: 100px;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor6);
    padding: 5px;
}

main {
    background-color: white;
    max-width: 800px;
    margin: auto;    
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

main > h2 {
    color: var(--cor6);
    font-family: Android;
}

main > h3 {
    color: var(--cor6);
    background-image: linear-gradient(to right, #83e1ad , transparent);
    font-family: Android;
    text-indent: 7px;
}

main > p {
    text-align: justify;
    text-indent: 10px;
    padding: 0px 10px ;
}

main > p > strong {
    color: var(--cor6);
}

main > p > a {
    color: var(--cor6);
    text-decoration: none;
}

 main > p > a:hover {
    background-color: var(--cor2);
    text-decoration: underline;
    padding: 5px;
}

.video {
    background-color: var(--cor6);
    margin: 0px -10px 30px -10px;
    padding-bottom: 59%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

section {
    background-color: var(--cor2);
    border-radius: 10px;
    padding: 0px 10px;
    padding-bottom: 5px;
}

section > ul {
    columns: 2;
}

section > p > a {
    color: var(--cor6);
    text-decoration: none;
}

section > p > a:hover {
    background-color: var(--cor4);
    color: white;
    text-decoration: underline;
    padding: 5px;
}
 
.extra {
    background-color: var(--cor4);
    color: white;
    margin: -10px;
    border-radius: 10px 10px 0px 0px;
    padding-left: 10px;
    
}

footer {
    background-color: var(--cor5);
    height: 20px;
    text-align: center;
    color: white;
}